*{
    padding:0;
    margin:0;
}
.header{
   /*background-image:url('https://thumbs.dreamstime.com/z/programming-concept-computer-software-script-binary-coding-snippet-data-science-diagram-globe-sphere-background-programming-138693261.jpg');*/
/*background-image: url('https://thumbs.dreamstime.com/b/html-web-coding-background-website-programming-language-mix-media-210006154.jpg');*/
background-image: url('https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
color:white;
background-size:cover;
background-color: rgba(255,255,255,0.3);
height:80vh;
width:100bh;
text-align: center;
padding-top: 231px;
}
.first_heading{
    padding:10px;
    font-size: 30px;

}
.first_paragraph{
    font-size:18px;
    padding:5px;
}
.btn{
    
    border:1px solid grey;
    border-radius:4px;
    margin-top: 10px;
    background:none;
    padding:4px;
}
.razorpay{
    margin-top: 5px;
}
.razorpay_para{
    margin-top:20px;
    font-size:20px;
}
.btn a{
    text-decoration: none;
    color:white;
}
.second_section{
    text-align: center;
    margin-top: 20px;
    height:120px;
}
.second_section{
    height:300px;
}
.paragraph_second{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:30px;
    margin-top: 70px;

}
.both_third_fourth{
    display:flex;
    margin-top:20px;

}
.paragraph_third{
    text-align:left;
    margin-left: 175px;
    padding-right: 15px;
    font-size:18px;
}
.paragraph_fourth{
    text-align:left;
    margin-right:115px;
    padding-left:15px;
    font-size:18px;
}
.img_waala_section{
    background-color:#444544;
    height:500px;
}
.sab_photo_waala{
    display:flex;
    justify-content: center;
}
.sab_photo_waala li{
    list-style: none;
}

.first_photo{
    width:28%;
    margin:15px;
    background-color:white;
    text-align: center;
    height:470px;
}
.first_photo img{
    width:100%;
    height:200px;
}
.img_waala_section_ka_head{
    margin-top: 25px;
    margin-bottom: 35px;
}
.second_photo{
    width:28%;
    margin:15px;
    background-color:white;
    text-align: center;
    height:470px;
}
.second_photo img{
    width:100%;
    height:200px;
}
.third_photo{
    width:28%;
    margin:15px;
    background-color:white;
    text-align: center;
    height:470px;
}
.third_photo img{
    width:100%;
    height:200px;
}
.img_waala_section_ka_para{
    margin-left:10px;
    margin-right:10px;
}
.last_section{
    text-align: center;
    height:300px;
}
.last_section_ka_head{
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 30px;
}
.development_list{
    display:flex;
    list-style: none;
    width:100%;
    
}
.list_container{
    margin-left: 33%;
    margin-right:25%;
    margin-top: 20px;
}
.development_list_firstpart{
    width:50%;
    margin-right: 20px;
    text-align: left;
}
.development_list_secondpart{
    width:50%;
    text-align: left;
}
.footer_section{
    background-color: #838294;
    display:flex;
    text-align: center;
    height:250px;
}
.footer_first_section{
    width:50%;
    margin-top: 50px;
    text-decoration: none;
}
.footer_first_section li a{
    list-style: none;
    text-decoration: none;
}
.footer_first_section li{
    border: 1px dotted black;
    border-top: none;
    border-left:none;
    border-right:none;
    padding:0px 30px;
    margin-left: 200px;
    margin-right: 200px;
}
.contact_us{
    list-style: none;
    margin-top: 30px;
}
.contact_us li{
    margin-top: 10px;
    padding-bottom: 10px;
    color:black;
}
.footer_second_section{
    margin-top:90px;
}
.last_head{
    margin-bottom: 30px;
}
.footer{
    background-color:  #838294;
    text-align: center;
    color: white;
    height:30px;
}